<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="eng">
    <head>
        <title>Registrazione utente</title>
    </head>
    <body>
        <h1>Form Utente</h1>
        <form action="/submitForm" method="post" th:object="${utente}">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
            <br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" required>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            <br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <label for="confermaPassword">Conferma password:</label>
            <input type="password" id="confermaPassword" name="confermaPassword" required>
            <br><br>
            <label for="dataDiNascita">Data di nascita:</label>
            <input type="date" id="dataDiNascita" name="dataDiNascita" required>
            <br><br>
            <label for="numeroDiTelefono">Numero di telefono:</label>
            <input type="tel" id="numeroDiTelefono" name="numeroDiTelefono" required>
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>